{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.6.0"},
    {iso8601, "1.3.1"}
]}.
{plugins, [
    rebar3_run,
    rebar3_auto
]}.
{shell, [
    {apps, [cowboy_auth_example]}
]}.
{relx, [{release, {cowboy_auth_example, "0.1.0"}, [cowboy_auth_example]},
        {sys_config_src, "config/sys.config.src"},
        {dev_mode, true},
        {include_src, false},
        {system_libs, false},
        {include_erts, false},
        {extended_start_script, true}]}.
%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.